@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    font-family: Playfair Display, serif;
}
h2 {
    margin: 20px 0;
    font-size: 30px;
    font-family: Playfair Display, serif;
}
h3 {
    margin: 20px 0;
    font-size: 20px;
    font-family: Playfair Display, serif;
}
p {
    font-size: 14px;
    font-family: Inter, sans-serif;
}
.errorMessage {
    color: red;
    font-size: 14px;
    font-family: Inter, sans-serif;
}
.boutonModifier {
    text-decoration: none;
    padding: 5px 10px;
    max-width: fit-content;
    border-radius: 5px;
    color: white;
    background-color: #17C2B8;
}
.boutonSupprimer {
    text-decoration: none;
    padding: 5px 10px;
    max-width: fit-content;
    border-radius: 5px;
    color: white;
    background-color: #a7212e;
}

/* HEADER */
header {
    max-width: 1440px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}
header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    font-family: Playfair Display, serif;
}
header img {
    max-width: 50%;
}
.form-login {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.form-login input[type="text"] {
    margin-top: 10px;
}
.form-login input[type="text"],
.form-login input[type="password"] {
    margin-bottom: 10px;
    padding: 5px;
}
.form-login input[type="submit"] {
    align-self: flex-end;
}
.summary-login {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    font-family: Playfair Display, serif;
}

/* PAGE INSCRIPTION */

.form-inscription {
    max-width: 1440px;
    margin: 50px auto;
    display: grid;
    gap: 25px;
}

.form-inscription #name, .form-inscription #firstname {
    grid-column : span 1;
    padding: 5px;
}
.form-inscription #pseudo, .form-inscription #password {
    grid-column : span 1;
    padding: 5px;
}
.form-inscription #email {
    grid-column : span 2;
    padding: 5px;
}
.form-inscription .errorMessage {
    grid-column : span 2;
    justify-self: center;
    color: red;
    font-size: 14px;
    font-family: Inter, sans-serif;
}
.form-inscription input[type="submit"] {
    grid-column : span 2;
    justify-self: center;
    padding: 5px;
}
.page-profil {
    max-width: 1440px;
    margin: 50px auto;
}
.page-profil p {
    margin-top: 5px;
}
.profil-content {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.profil-change {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ADMIN */
/* DASHBOARD */
.dashboard {
    max-width : 1440px;
    margin: 50px auto;
}

/* PAGE ADMIN UTILISATEURS */

.listeUtilisateurs {
    max-width: 1440px;
    margin: 50px auto;
}
.tableauUtilisateurs {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}
.tableauUtilisateurs th {
    text-align: center;
    border: 2px solid black;
}
.tableauUtilisateurs td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}


/* PAGE LISTE ARTICLES */

.form_article {
    max-width: 1440px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form_article input {
    margin-bottom: 10px;
    padding: 5px;
}
.form_article label {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Inter, sans-serif;
}
.form_article textarea {
    margin-bottom: 10px;
    width: 500px;
    height: 350px;
}
.form_article select {
    margin-bottom: 10px;
    padding: 5px;
}
.form_article input[type="submit"] {
    padding: 5px 10px;
}
.listeArticles {
    max-width: 1440px;
    margin: 50px auto;
}
.listeArticles h2 {
    text-align: center;
}
.listeArticles article, .articleDetail {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin: 30px auto;
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listeArticles article img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 8px;
}
.articleContent {
    max-width: 1440px;
    margin: 50px auto;
}